.input__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .label {
        color: #2E3C49;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        margin-bottom: 12px;
    }
    
    .error__message {
        margin-top: 6px;
        color: #EB5757;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}